/*Tabs*/
.custom-tab .customTab-item {
  margin-bottom: 50px;
  text-transform: inherit !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  min-width: 0px !important;
}
button.MuiButtonBase-root.MuiCardActionArea-root.css-1jluznr {
  display: inline !important;
}
.custom-tab .customTab-item:hover {
  color: orange;
  transition: 0.5s;
}

.custom-tab .active {
  color: orange;
}

/*Card*/
.customCard {
  height: 100%;
  max-width: 350px;
  width: 220px;
  box-shadow: 0px 0px 100px 0px rgba(4, 6, 4, 0.185) !important;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  outline-width: 0px !important;
  flex-direction: column !important;
}

.center-card {
  justify-content: center;
}
.customCard-img {
  height: 200px !important;
}
.customCard-description {
  color: grey;
  font-size: 14px !important;
}
button.MuiButtonBase-root.MuiCardActionArea-root.css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root {
  display: block;
}
.customCard-title {
  font-weight: 500;
}

/*Dialog*/

.projectDialog-img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.projectDialog-icon {
  color: black;
  margin: 0px 12px;
  list-style: none !important;
  text-decoration: none;
}
.section {
  margin-bottom: 430px;
}
.projectDialog-des {
  margin-top: 10px !important;
  text-align: center !important;
}
.projectDialog-action {
  justify-content: center !important;
  margin-bottom: 10px;
}
.slide-container {
  width: 100%;
  height: 80vh;
  background-color: black;
}
.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
